* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 100px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00bfff;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0077b6;
}

.techy {
    color: #00bfff;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    color: #00bfff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: white;
    font-size: 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.burger {
    display: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .nav-active {
        transform: translateX(0);
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }
}


/* linear-gradient(135deg, #00bfff, #ff0000) 5px; */